language: go
os: linux
go: "1.14"

script:
  - pushd cmd && go build . && popd
  - ./cmd/releaser

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep_history: true
  target_branch: master
  on:
    branch: master